* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;
    
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;

}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;

}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;

}

.section-p1 {

    padding: 40px 80px;

}

.section-m1 {
    margin: 40px 0;
}

.ul {
    list-style-type: none;
    /* This removes the bullets */
    padding: 0;
    /* Optionally remove padding */
    margin: 0;
    /* Optionally remove margin */
}

body {
    width: 100%;
            background-color:#fff;
         
}






/* Home page*/
#hero{
    color: white;
      background-image: url("banner/AdobeStock_305928424_Preview.jpeg");
    background-size: cover;
    height: 90vh;
    width: 100%;
   background-position: top 25% right 0; 
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-position: fixed;
    border-radius: 5px;
}
    

#hero h4 {
    padding: 15px;
}

#hero h4 {
    color: white;
}

#hero h1 {
    color: chartreuse;
}

#hero h2 {
    color: white;
}

#hero button {

    background-image: url("img/61zAjw4bqPL._SX3000_.jpg");
    background-color: transparent;
    color: rgb(49, 38, 157);
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700px;
    font-size: 15px;
}
#feature .fe-box h6{
    border-radius: 20px;
}
#feature .fe-box img{
    border-radius: 400px;
}

#feature .fe-box {
    border-radius: 30px;

    width: 180px;
    text-align: center;
    padding: 10px 7px;
    box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.03);
    border: 3px solid #cce7d0;

}

#feature .fe-box :hover {
    box-shadow: 10px 10px 54px rgb(70, 62, 221, 0.01);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;

}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: darkcyan;
    background-color: coral;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}




#product1 {
    text-align: center;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;

}



#product1 .pro:hover {
  
    box-shadow: 10px 10px 15px rgb(135, 67, 170);
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}


#product1 .pro img{
    width: 100%;
    border-radius: 20px;
    

}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);

}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;

}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    background-color: #e8f6aa;
    font-weight: 300;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom:20px ;
    right: 10px;

}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
    

   /** flex-wrap: wrap; /**  break the line of box**/
}

/** Banner **/

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(banner/banner3.png);
    width: 100%;
    height: 25vh;
    background-size: cover;
    background-position: center;
    
}

#banner h4{
    color:#fff;
    font-size: 16px;
}
#banner h2{
    color: #fff;
    font-size:30px ;
    padding:10px 0;
}
#banner h2 span{
    color: #ef3636;
}
button.norman{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: 0.2s;

}
#banner button:hover{
    background: #088178;
    color: #fff;
}
/** small Banner **/




#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    background-image: url(banner/banner5.png);
    min-width:650px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
   
background-size:contain;

}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap ;
}
#sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;

}
#sm-banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}
#sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

#sm-banner .banner-box:hover button{
    background: #088178 ;
    border-radius: 1px solid #088178;

    background-image: url("banner/banner5.png");
    
    
}
#sm-banner .banner-box2{
   
    
    background-image: url("banner/dress.png");
     background-size: cover;
    
  

}





#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    background-image: url("banner/bannerbox1.jpeg");
    min-width:30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;   

}
#banner3 .banner-box2{
    background-image: url("banner/bannerbox2.jpeg");
}
#banner3 .banner-box3{
    background-image: url("banner/bannerbox4.jpeg");
}

#banner3 h2{
    color: #fff; 
    font-weight: 900;
    font-size: 22px;
}
#banner3 h3{
    color:#088178;
    font-weight: 800;
    font-size: 15px;


}


#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;  
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42; 
    padding : 60px 0 60px;
}
#newsletter .newstext{
    padding-left: 85px;
}
#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #585858;
}
#newsletter p span{ 
    color: #fff020;
}
#newsletter .from{
    display: flex;
    width: 40%;
    padding-right: 85px;
} 
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0;
}
#newsletter  button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px; 
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0;

}



.footer{ 
    width: 180%; 
 }
 .foot-panel1{
    background-color:#213036d7;
    color: rgb(254, 252, 252);
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
 }
 .foot-panel1 a{
   text-decoration: none;
   color: white;
   padding-top: 5px;
 }
 .foot-panel2{
    background-color: #213036;
    color: white;
    height:300px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2px;
    padding-top: 5px;
    padding-block-end:5px ;
 }
 .foot-panel2.social-link a{
    margin-bottom: 5px;
 }
 ul{
    margin-top: 15px;
 }
 ul p{
    color: #cdebbc;
 }
 ul a{
    display: block;
    text-decoration: none;
    font-size: 0.8rem;
    margin-top: 10px;
    color: #dddddd;
 } 
 .foot-panel4{
    background-color: #213036;
    color:  white;
    height: 80px;
    border-top: 2px solid white;
    font-size: 0.8rem;
 text-align: center;
 }
 .foot-panel4 a{
    text-decoration: none;
 }
 .pages{
  padding-top: 25px;
 }
 .myc{
  padding-top: 5px;
 }

