body {
    margin: 0;
    font-family: Arial, sans-serif;
   background-image: url(bg-registration-form-1.jpg);
   background-image: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    
    display: flex;
    background: #fff;
    color: #000;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-section img {
    width: 250px;
    height: 100%;
    object-fit: cover;
}

.form-section {
    background-image: url(Ts4Tt40LvVD0s.webp);
    padding: 20px;
    width: 500px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group img {
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #1e3c72;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #163a61;
}
